
<%= render partial: "file_upload/forms/#{@file_upload_form.upload_type}", locals: { file_upload_form: @file_upload_form } %>

<section>
  <%
     FileUploadForm::UploadType.constants.each do |constant_key|
     upload_type = FileUploadForm::UploadType.const_get(constant_key)
  %>

    <%= link_to "JQuery Form #{upload_type}", new_file_upload_path(upload_type: upload_type)%>
  <% end %>
</section>

