<h3>Ajax iframe test</h3>
<%= form_tag(file_upload_path, id: "ajaxSubmit-form2", target: "ajax_iframe", method: :post, multipart: true) do %>
  <%= submit_tag 'iframe test' %>
<% end %>

<iframe id="ajax_iframe" name="ajax_iframe"  src="about:blank">
  <head>
    <!--
        <script type="javascript">
          $(function() {
            window.console.log('before: document.domain=' + document.domain);
            document.domain = document.domain.split('.').slice(-2).join('.');
            window.console.log('after: document.domain=' + document.domain);
          });
        </script>
    -->
  </head>
</iframe>
